body {
  font-family: Verdana;
  width: 16rem;
  text-align: center;
}
hr {
  border-color: #eeeeee;
  opacity: 0.5;
  margin-top: 0.5rem;
}
img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
img:hover,
.selected-mode {
  background-color: #eeeeee;
}