/* Commons */
body {
  font-family: Verdana;
  width: 16rem;
  text-align: center;
  margin: 0;
  overflow: hidden;
}
hr {
  border-color: #eeeeee;
  opacity: 0.5;
  margin-top: 0.5rem;
}
img {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-radius: 0.25rem;
  cursor: pointer;
}
.title {
  font-size: 14pt;
  border-bottom: thin solid lightgray;
  padding: 0.5rem 0;
  margin: auto;
  width: 7.5rem;
}
.back-btn,
.load-btn,
.show-form-btn,
.create-btn,
.save-btn,
.remove-btn {
  cursor: pointer;
}

/* Create */
.create-container {
  position: relative;
  margin-top: 1rem;
}
.show-form-btn {
  position: absolute;
  width: 100vw;
  right: 0;
  transition: right 250ms;
}
.create-form {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  left: 100vw;
  opacity: 0;
  transition: left 250ms, opacity 250ms;
}
.back-btn {
  margin: 0 0.5rem;
  font-weight: bold;
}
.back-btn img {
  width: 0.75rem;
  height: 1rem;
}
.name-input {
  flex-grow: 2;
  border: 1px solid lightgrey;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.create-btn {
  color: #1a60c7;
  margin: 0 0.5rem;
}

/* Saves */
#saves {
  margin-top: 4rem;
  height: 16rem;
  overflow-y: scroll;
}
.save {
  margin-top: 1.25rem;
}
.save > * {
  padding: 0;
  margin: 0;
}
.save .load-btn {
  display: inline-block;
  width: 10rem;
}
.save img {
  width: 1rem;
  height: 1rem;
  background-color: red;
}
.disabled {
  pointer-events: none;
  opacity: 0.4;
}